.para {
    text-align: center;
    color: white;
    font-size: 2em;
}

.logo {
    width: 35%;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.034),
        0 1px 10px rgba(0, 0, 0, 0.048),
        0 1px 10px rgba(0, 0, 0, 0.06),
        0 1px 10px rgba(0, 0, 0, 0.072),
        0 1px 10px rgba(0, 0, 0, 0.086),
        0 1px 10px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    margin-bottom: 40px;
}